body{
  background-color: #DFDFDF;
}
.header{
  padding: 15px 0 10px 0; /*top - right - bottom - left*/
  background: #FFFFFF;
}
.search_form input[type=text]{
  border-radius: 0;
  padding-right: 23px;
}
.search_form .glyphicon-search{
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translate(0, -50%);
    color: #CECECE;
}
.site_logo{
  font-size: 22px;
  line-height: 34px;
  color: #00A0C6;
  font-weight: 100;
}
.site_logo img{
  max-height: 34px;
}
.profile_wrapper{
  border: 1px solid #CECECE;
  line-height: 34px;
}
.profile_wrapper button{
  float: left;
  display: inline-block;
  width: 34px;
  height: 34px;
  font-size: 18px;
  text-align: center;
  color: #CECECE;
  border: 0 none;
  background: #FFFFFF;
  border-right: 1px solid #CECECE;
}
.profile_wrapper button:hover{
  color: #FFFFFF;
  background: #00A0C6;
}
.username{
  padding-left: 15px;
  color: #CECECE;
}
.col {
  position: relative;
  margin: 20px, 20px, 20px;
}
.picture {
  position: relative;
  overflow: hidden;
}
.picture img {
  width: 100%;
  -webkit-transition:all .4s linear; /*no delay*/
  transition:all .4s linear;
}
.picture .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
}
.picture .overlay:hover {
  opacity: 1;
}
.picture:hover>img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.picture .overlay .button {
  position: absolute;
  top: 15px;
  left: 13px;
  width: 40px;
  height: 40px;
}
.picture .overlay .button .button-plus {
  font-size: 30px;
  transform: translate(2px, 2px);
}
.picture .overlay .button:hover .button-plus{
  color: #4B4B4B;
}
.picture .overlay .button:hover {
  background: #D1D1D1;
  cursor: pointer;
}

.picture .overlay>div {
  display: inline-block;
  position: absolute;
}
.picture .overlay>div>span {
  display: block;
  text-align: center;
  color: #FFFFFF;
  height: 30px;
}
.picture .overlay>div>.icon {
  font-size: 20px;
}
.picture .overlay .eye {
  bottom: 0;
  left: 30px;
}
.picture .overlay .time {
  bottom: 0;
  left: 40%;
}
.picture .overlay .plus {
  bottom: 0;
  right: 30px;
}

.content-pic {
  position: absolute;
  background: #FFFFFF;
}
.content-pic .title-pic img {
  float: left;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: 15px 20px 10px 15px;
}
.content-pic .title-pic .name-pic {
  padding-top: 20px;
  display: block;
  font-weight: bold;
  font-size: 18px;
}
.content-pic .title-pic .sub-name {
  display: block;
  color: #8A8A8A;
}
.content-pic .description {
  margin: 15px 15px 20px 15px;
}
