body{
  background-color: #DFDFDF;
}
.header{
  padding: 15px 0 10px 0; /*top - right - bottom - left*/
  background: #FFFFFF;
}
.search_form input[type=text]{
  border-radius: 0;
  padding-right: 23px;
}
.search_form .glyphicon-search{
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translate(0, -50%);
    color: #CECECE;
}
.site_logo{
  font-size: 22px;
  line-height: 34px;
  color: #00A0C6;
  font-weight: 100;
}
.site_logo img{
  max-height: 34px;
}
.profile_wrapper{
  border: 1px solid #CECECE;
  line-height: 34px;
}
.profile_wrapper button{
  float: left;
  display: inline-block;
  width: 34px;
  height: 34px;
  font-size: 18px;
  text-align: center;
  color: #CECECE;
  border: 0 none;
  background: #FFFFFF;
  border-right: 1px solid #CECECE;
}
.profile_wrapper button:hover{
  color: #FFFFFF;
  background: #00A0C6;
}
.username{
  padding-left: 15px;
  color: #CECECE;
}
.item_container{
  position: relative;
  /*margin-top: 20px;*/
}
.item{
  margin-top: 20px;
}
.image_container{
  position: relative;

}
.image_container > img{
  width: 100%;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.image_container:hover .overlay{
  display: block;
}
.info_container{
  padding: 15px;
  background: #FFFFFF;
}
.author_info,.commentor_info{
  margin-bottom: 15px;
}
.author_avatar{
  float: left;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.plus_button{
  position: absolute;
  top: 15px;
  left: 15px;
  height: 30px;
  width: 48px;
  height: 50px;
  line-height: 30px;
  background: #ccccb3;
  color: #FFFFFF;
  border: 0 none;
  cursor: pointer;
}
.img_statistics_container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FFFFFF;
}
.inner_plus_button{
  position: absolute;
  background: #ccccb3;
  height: 30px;
  width: 30px;
  line-height: 30px;
  left: 24px;
  top: 20px;
  color: #FFFFFF;
  border: 0 none;
  cursor: pointer;
}
.plus_button,.inner_plus_button:hover {
  background: #e6e6e6;
  color:#000000;
}
.inner_img_statistics_container{
  position: absolute;
  top: 20px;
  left: 230px;
  right: 0;
  color: #a6a6a6;
}
.inner_info_container{
  position: absolute;
  bottom: 0px;
  left: 43px;
  right: 0;
}
div.modal-header{
  height: 60px;
}
.modal-body>img{
  display: block;
  margin: auto;
}
.commentor_avatar{
  float: left;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.modal-footer h5{
  text-align: left;
  font-weight: bold;
}
.modal-footer p{
  text-align: left;
}
