.menu {
  text-align: center;
  background-color: #D5B0AC; /*background cũng được */
  color: #402E2A;
  font-weight: bold;
}
.menu span {
  display: inline-block;
  text-align: center;
  width: 100px;
  line-height: 30px;
}
span:hover {
  color: #FFFFFF;
  background: #9CD08F
}
.menu.menu_verticle {
  width: 100px;
  height: 120px;
}
